<h1 class="h1_ranking">欲しいものランキング</h1>

<% content_for :head do %>
  <title>欲しいもの Rankng-Monolist</title>
  <descroption>欲しいもの Rankng</descroption>
<% end %>

<%= render "ranking", ranking: @ranking %>